@model IEnumerable<db_7_2.Models.StatisticsOfTreatedCasesDTO>

@{
    ViewData["Title"] = "Отчет по оказанным медицинским услугам";
}

<h1>Статистика заболеваний</h1>

<p>


</p>
<label class="display-8">За период от:  @TempData["DateFrom"] до:  @TempData["DateTo"] </label>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiagnoseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfCases)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.DiagnoseName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.NumberOfCases)
                </td>
            </tr>
        }
    </tbody>
</table>
